.App {
  text-align: center;
  background-color: #282c34;
  width: 100vw;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.container {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}

.content {
  padding: 16px;
  background-color: #ac2b99;
  color:aliceblue;
  border-radius: 6px;
  margin: 12px 0;
}

.App-link {
  color: #61dafb;
}

.header-bar {
  display: flex;
  align-items: center; /* Vertical alignment */
  justify-content: space-between; /* Horizontal alignment */
  height: 64px;
  margin: 12px 0;
  padding: 0 16px;
  font-size: 18px;
  border-radius: 6px;
}

.auth0-header-bar {
  background-color: #2B6BAC;
  color:aliceblue;
}

.debug * {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.button, .select {
  display: inline-block;
  padding: 6px 12px;
  margin: 3px 6px;
}